@if (loading) {
  <app-loader></app-loader>
} @else {
  <div>
    <div>
      <div class="center">
        <div>{{ titlePage }}</div>
      </div>
      <div class="split">
        <div>
          <p>Number of countries</p>
          <p>{{ totalCountries }}</p>
        </div>
        <div>
          <p>Number of JOs</p>
          <p>{{ totalJOs }}</p>
        </div>
      </div>
    </div>
    <app-all-countries-chart [countries]="countries" [medals]="medals"></app-all-countries-chart>
  </div>
}
