.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;

  .breadcrumb-button {
    background: #0b868f;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
    border: none;
    cursor: pointer;

    &:hover {
      background: #087077;
    }

    img {
      width: 20px;
      height: 20px;
      filter: brightness(0) invert(1); // Make icon white
    }

    &.active {
      cursor: default;
    }
  }

  .breadcrumb-separator {
    color: #0b868f;
    margin: 0 0.25rem;
    font-weight: bold;
  }
}

.wrapper-container {
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;
    h2{
        text-align: center;
        color: gray;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}